{%extends 'stu_dashboard/base_student.html'%}
{% load static %}
{% block body_block %}
<div id="page-content-wrapper">
<div class="container-fluid">
  {% for sub in subject_list %}
  <!-- <div class="jumbotron">
  <div class="row w-10s0">
    <div class="col-md-3">
        <div class="card border-info mx-sm-1 p-3">
          <!-- <div class="card border-info shadow text-info p-3 my-card" ><span class="fa fa-car" aria-hidden="true"></span></div> -->
            <!-- <div class="text-info text-center mt-3"><h4>  <a href="{% url 'stu_dashboard:ProjectList' subject=sub|lower %}">{{sub}}</a></h4></div> -->
          <!-- <a href="{% url 'stu_dashboard:ProjectList' subject=sub|lower %}">{{sub}}</a> -->
        <!-- </div>
    </div>
  </div>
  </div> -->
  <div class="row row-cols-1 row-cols-md-3" style="margin-top: 20px;;">
      <div class="col mb-4" >
        <div class="card" style=" box-shadow:3px 3px 4px 4px #ccc;">
          <div class="card-body">
            <h5 class="card-title" stya>{{sub}}</h5>
            <div class="btn btn-secondary">
            <p class="card-text">
              View
              <a href="{% url 'stu_dashboard:ProjectList' subject=sub|lower %}">
                  <img src="{% static 'images/doorimgblue.png' %}" class="card-img-top" alt="..."
                  style="height: 35px; width: 35px; margin-left: 20px;"></a>
            </p>
          </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
</div>
{% endblock %}
